<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        <a href="http://www.jsexpert.net/" target="_blank">JSExpert</a>
      </h2>
    </div>
  </div>

</section>
<section class="section">
  <div class="container fx-container">
    <app-font-controller (fontChange)="setFontToChild($event)"></app-font-controller>
    <app-color-controller (colorChange)="setColorToChild($event)"></app-color-controller>
  </div>
</section>
<app-text-display [color]="color"></app-text-display>
